[project] 
name = "Hyacinth"
version = "0.6.0"
description = "Because plugin development should be simple."
natures = [ "eclipse", "maven" ] 
authors = "Hailey-Jane \"Khyonie\" Garrett"
homepage = "http://khyonieheart.coffee/hyacinth/"
sourcepage = "https://github.com/Khyonie/Hyacinth/"

[dependencies]
spigot-api = { type = "fetchFromMaven", url = "https://hub.spigotmc.org/nexus/repository/snapshots/", group_id = "org.spigotmc", artifact_id = "spigot-api", update_policy = "Always", classifier = "shaded", javadoc = "https://hub.spigotmc.org/javadocs/spigot/" }
anenome = { type = "fetchFromGithub", username = "Khyonie", repository = "Anenome", tag = "v0.4.0" }
lilac = { type = "fetchFromGithub", username = "Khyonie", repository = "Lilac", tag = "v2.1.0-beta.1" }

[configuration.latest]
sources = [ "src/hyacinth/plugin/", "src/hyacinth/api/", "src/hibiscus/main/", "src/hibiscus/api/", "src/tidal/api/" ] 
dependencies = [ "spigot-api", "anenome", "lilac" ] 
shaded = [ "anenome", "lilac" ]
targets = [ "targets/{configuration}/Hyacinth-{configuration}-{version}.jar" ]
includes = [ "plugin.yml", "meta/meta.yml", "meta/hyacinth.yml" ]
java_version = 21
compliler_flags = { store_parameter_names = true }
